footer
    background-color #445069
    padding 36px
    color white
   
    .wrapper
        display flex
        justify-content center
        align-items center
        flex-direction column
        gap 36px

        .ikons
            display flex
            gap 36px
            
            img
                cursor pointer
    
    ul
        display flex
        flex-direction column
        gap 10px
        padding 0
    
    #kontakty
        border-bottom:  1px solid white
        text-align center
        width 85px
        padding 5px 0
        margin auto
        
    #ot_doba
        border-bottom:  1px solid white
        text-align center
        width 140px
        padding 5px 0
        margin auto

    .info
        .hezci
            display flex
            justify-content: space-between

    svg
        transition ease .3s
        cursor pointer

        &:hover
            fill red
            
